* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Mobile View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
h1 {
  text-align: center;
  margin: 1rem;
}

p {
  width: 90%;
  margin: 0.5rem auto;
}

/*Poner los bordes de la tabla*/
table, tr, td, th {
  border-collapse: collapse;
  border: 1px solid #fff;
  text-align: center;
  padding: 0.5rem;
}

table {
  width: 70%;
  margin: 1rem auto;
}

input {
  background-color: #ffffff44;
  outline: none;
  border: 0;
  width: 5rem;
  height: 1rem;
  text-align: center;
  color: #fff;
}

.coordenadaH {
  margin-left: 0.25rem;
  margin-right: 0.2rem;
}

.coordenadaK {
  margin-right: 0.2rem;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.botones button {
  padding: 0.25rem 0.75rem;
  outline: none;
  border: 0;
  border-radius: 9999px;
  cursor: pointer;
}

.botones .btnPuntos {
  background-color: rgba(123, 255, 0, 0.671);
}

.botones .btnBorrar {
  background-color: rgba(255, 0, 0, 0.671);
  color: #fff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s;
  background-color: #ffffffbb;
  backdrop-filter: blur(5px);
  width: 90%;
  height: 27.5rem;
  color: #000;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal .cerrar {
  background-color: #ffffffbb;
  outline: none;
  border: 0;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.modal .mensajeModal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.25rem;
}



/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  IPad View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 768px) {
  table {
    width: 50%;
  }

  .modal {
    width: 50%;
  }
}



/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  Desktop View
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
@media screen and (min-width: 1000px) {
  table {
    width: 30%;
  }

  .modal {
    width: 30%;
  }

  .botones {
    width: 50%;
    margin: 1rem auto;
  }

  .botones .btnPuntos:hover {
    background-color: rgb(123, 255, 0);
  }
  
  .botones .btnBorrar:hover {
    background-color: rgb(255, 0, 0);
    color: #fff;
  }
}